* { 
border: none;
outline: none;
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 900;
}
body{
background: url(../pag/img/fundo.png);
overflow-x: hidden; 
background-repeat: no-repeat;
background-size: 100%;
}   
header {/* cabecelho */	
position: absolute;
background:linear-gradient(to right,#6D4FFA, rgb(45, 48, 192));
box-shadow: 0 10px 30px rgba(58, 48, 255, 0.624);
}
.cabecalho {
width: 100%;
padding: 0px 2%;
margin-bottom: -20px;
}
.cabecalho .usuario {
text-decoration: none;
float: right;
font-size: 20px;
color:white;
cursor: pointer;
margin-top: -20px;
}
.cabecalho .agendamentos:hover {
color:rgb(92, 92, 92);
}
.cabecalho .agendamentos {
text-decoration: none;
float: right;
font-size: 20px;
color:rgb(255, 255, 255);
cursor: pointer;
margin-top: -20px;
}
.cabecalho .agendamentos:hover {
color:#5249f2;
}
.cabecalho .sair {
text-decoration: none;
color:rgb(255, 255, 255);
float: right;
font-size: 20px;
cursor: pointer;
margin-top: -20px;
}
.cabecalho .sair:hover{
color:#5249f2;
}
.logo{
width: 290px;
height: 38px;
margin-bottom: -30px;
background: url(../pag/icones/logo.png) center center/260px no-repeat;
font-size: 0;
}
a {
text-decoration: none;
}
ul{
list-style: none;
}
img{
max-width: 50%;
}
#agenda .consultas-agendar {/* agende uma consulta */	
margin: 0px;
width: 50%;
opacity: 99%;
border-radius: 150px;
background-color: rgba(255, 255, 255, 0.453);
padding: 30px 1%;
margin-top: 620px;
text-transform: uppercase;
margin-left: 19%;
box-shadow: 0px 10px 30px rgba(34, 0, 255, 0.59);
text-align: center;
-moz-transition: all 0.2s ease-out;
-webkit-transition: all 0.1s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;
}
#agenda .box2 {
color: rgb(29, 124, 233);
margin-left: center;
text-align: center;
font-size: 45px;
padding: 4% 2%;
}
.buttonagen {/*BOTOES*/
text-decoration: none;
padding: 15px 42px;
font-size: 15px;
text-align: center;
cursor: pointer;
outline: none;
color: #fff;
background-color: #5249f2;
border-radius: 150px;
}
.buttonagen:hover {
color: #fff;
box-shadow: 0 0 0 3px  #5dc6f7;
text-decoration: none;
}
.buttonoticia {
padding: 10px 2px;
font-size: 15px;
width: 90px;
height: 90px;
margin-top:160px;
cursor: pointer;
outline: none;
color: #fff;
background-color:rgb(29, 124, 233);
border: none;
border-radius: 105px;
box-shadow: 0 9px #999;
}
.buttonoticia:active {
transform: translateY(4px);
text-decoration: none;
box-shadow: 0 9px #999;
}
.buttonoticia:hover {
text-decoration: none;
color: #ffffff;
background-color: #5e03b8;
}
.jumbotron{/* noticias */	
overflow-x: hidden;
background-color: #fff;
border: 2px solid rgba(201, 199, 199, 0.829);
display: flex;
justify-content: flex-start;
text-align: center;
box-shadow: 0px 10px 30px rgba(34, 0, 255, 0.59);
}
.NewsGrid img{
text-align: center;
padding: 10px;
}
.NewsGrid div{
text-align: center;
padding: 10px;
}
.rounded-circle{
width: 250px;
border-radius: 150px;
height:  225px;                                                                                      
}
#slider{/*SLIDES IMGS*/
overflow-x: hidden;
}
#slidershow figure{
position: relative;
width: 6310px;
margin:0;
left: 0;
animation: 25s slidershow infinite;
}
#slidershow figure img{
width: 10%;
float: left;
transition: all 0.1s ease-out;
box-shadow: 0px 10px 30px rgba(34, 0, 255, 0.59);
margin-bottom: 20px;
}
@keyframes slidershow {
20%{
left:  0%; 
}
40%{
left: -40% 22s;
}
60%{
left: -60% 21s;
}
80%{
left: -98% ;
}
100%{
left: 100% 25s;
}
}
.txtsaude{
text-align: center;
font-size: 40px;
margin-bottom: 20px;
}
.campanha1 {/*CVV Campanha*/
margin-top: 1.5em;
text-align: center;
padding: 60px 0%; /*Tamanho do banner*/
}
#camp1 {
padding: 10px 0px;
background-color: #f4f4f4c2;
box-shadow: 0px 10px 30px rgba(34, 0, 255, 0.59);
}
.campanha1 p{
border: 2px solid;
border-radius: 4px;
margin: 40px 0 0 0;
padding: 14px 0%;
margin-top: 15px;
margin-right: 21%;
margin-left: 21%;
color:rgba(0, 0, 0, 0.822);
font-weight: 500;
}
.campanha1 h2{
font-size:2.5em;
color:rgba(9, 54, 112, 0.822);
font-weight: 700;
}
footer{/*footer*/
background:linear-gradient(to right,#6D4FFA, rgb(45, 48, 192));
bottom: 0px;
width: 100%;
box-shadow: 0px 10px 30px rgba(34, 0, 255, 0.59);
}
.rodape{
display: flex;
}
.rodape .box{
flex-basis: 50%;
padding: 10px 20px;
}
.box h2{
font-size: 1.125rem;
font-weight: 600;
text-transform: uppercase;
color: rgb(255, 255, 255);
}
.box .linha{
margin: 20px 0 0 0;
position: relative;
}
.box .linha:before{
position: absolute;
content: '';
top: -10px;
height: 2px;
width: 100%;
background: #868686;
}
.box .linha:after{
position: absolute;
content: '';
height: 2px;
width: 15%;
background: #ffffff;
top: -10px;
}
.left .linha p{
text-align: justify;
color:#fff;
}
.left .linha .social{
margin: 20px 0 0 0;
}
.left .linha .social a{
padding: 0 2px;
}
.left .linha .social a span{
height: 40px;
width: 40px;
background: #ffffff;
color:#654bf3;
line-height: 40px;
text-align: center;
font-size: 18px;
border-radius: 105px;
transition: 0.3s;
}
.left .linha .social a span:hover{
background: #654bf3;
color:#fff;
}
.center .linha .fa{
font-size: 1.4375rem;
background:#fff;
color:#654bf3;
height: 45px;
width: 45px;
line-height: 45px;
text-align: center;
border-radius: 50%;
transition: 0.3s;
cursor: pointer;
}
.center .linha .fa:hover{
background: #654bf3;
color: #fff;
}
.center .linha .text{
font-size: 1.0625rem;
font-weight: 500;
padding-left: 10px;
color:white;
}
.center .linha .numero{
margin: 15px 0;
}
.center .linha .numero{
margin: 15px 0;
}
.right form input, 
.right form .msgForm{
width: 100%;
color:black;
font-size: 1.0625rem;
background: #ffffff;
padding-left: 10px;
border: 1px solid  rgb(45, 48, 192);
}
.right form input{
height: 35px;
}
.right .text{
color:white;
}
.right .linha .buttonagen{
width: 10px;
height: 10px;
}
.right .linha textarea{
color:black;
resize: none;
}